.main_block {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // gap: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--size-body);
  // padding: 20vh 0;
  background: url('/images/home_page/background.png')  top center / cover no-repeat;

  // .backgroundImage_block {
  //   display: block;
  //   position: relative;
  //   // height: 110vh;
  //   width: 100%;
  //   // z-index: -1;

  //   .backgroundImage {
  //     // position: absolute;
  //     // z-index: -1;
  //   }
  // }

  .container_main {
    // position: absolute;
    // top: 250px;
    // z-index: 1;
    // grid-template-columns: repeat(2, 1fr);
    // margin: 0 auto;
    // padding: 0 10%;
    display: flex;  
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 0 10%;
    background-color: #fec09980;

    .main_image {
      width: 300px;
      // margin: 0 auto;
    }

    .main_block_description {
      display: block;
      // flex-basis: 400px;
      min-width: 200px;
      font-family: "Mariupol-Regular";
      max-width: 600px;
      // margin: 0 auto;
      padding: 40px;
      border-radius: 5px;
      color: #FFE9DC;

      .artist_name {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 30px;
        font-family: "Extatica-Medium";
      }
      .artist_name__description {
        font-size: 1.3rem;

        .icon_wrapper {
          display: inline-block;
          margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
          vertical-align: bottom; /* Выравнивание по нижнему краю текста */
        }
      }
    }
  }
}

// @media (min-width: 370px) {
//   .main_block {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

@media (max-width: 668px) {
  .main_block {
    background: url('/images/home_page/background2.png')  top center / cover no-repeat;
    .container_main {
      flex-wrap: wrap;
      height: 600px;
      padding: 5%;

      .main_block_description {
        // padding: 20px 0;
      }
    }
  }
}