.main_block {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: calc(var(--size-body) - var(--size-header));
  // background: url("https://raw.githubusercontent.com/malahovskiyoleksandr/DataBase/main/public/images/home_page/background.png")
  // top center / cover no-repeat;

  .background_image {
    position: absolute;
    top: calc(0 + var(--size-header));
    min-height: calc(var(--size-body) - var(--size-header));
    object-fit: cover;
    width: 100%;
    // object-position: bottom;
    z-index: -1;
  }

  .container_main {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    // padding: 0 10%;
    background-color: #fec09980;

    .main_image {
      max-width: 400px;
      object-fit: contain;
      flex: 1;
      flex-shrink: 1;
      flex-basis: 0;
    }

    .main_block_description {
      display: flex;
      flex: 1;
      flex-shrink: 1;
      flex-basis: 0;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 650px;
      height: 100%;
      font-family: "Mariupol-Regular";
      padding: 2.5rem;
      border-radius: 5px;
      color: #ffe9dc;
      // background-color: aqua;

      .artist_name {
        font-size: 3rem;
        text-align: left;
        margin-bottom: 30px;
        font-family: "Extatica-Medium";
      }
      .artist_name__description {
        font-size: 1.3rem;
        min-width: 320px;

        .icon_wrapper {
          display: inline-block;
          margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
          vertical-align: bottom; /* Выравнивание по нижнему краю текста */
        }
      }
    }
  }
}

// @media (min-width: 370px) {
//   .main_block {
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

@media (max-width: 668px) {
  .main_block {
    // height: auto;
    // background: url("https://raw.githubusercontent.com/malahovskiyoleksandr/DataBase/main/public/images/home_page/background2.png")
      // top center / cover no-repeat;

    .container_main {
      flex-wrap: wrap;
      // height: 600px;
      width: 80%;
      margin: 0 auto;

      .main_image {
        // width: 200px;
      }

      .main_block_description {
        // padding: 20px 0;

        .artist_name {
          font-size: 3rem;
          text-align: left;
          margin-bottom: 30px;
          font-family: "Extatica-Medium";
        }
        .artist_name__description {
          font-size: 1.3rem;

          .icon_wrapper {
            display: inline-block;
            margin-left: 10px; /* Чтобы иконка не прилипала к тексту */
            vertical-align: bottom; /* Выравнивание по нижнему краю текста */
          }
        }
      }
    }
  }
}
