.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: var(--size-footer);
  padding: 0.5rem 0;
  color: black;
  background-color: #ffbe98;
  font-family: "Mariupol-Regular";

  >*{
    margin: 0.2rem 0;
  }

  .main {
    display: block;
    .icon_box {
      display: block;
      > * {
        margin: 0.5rem;
      }
    }
    .email {
      display: block;
      margin-top: 0.5rem;
    }
  }

  .rights {
    font-size: 0.8rem;
  }

  .developer {
    font-size: 0.8rem;
  }
}

@media (max-width: 668px) {
    .footer {
        flex-direction: column;

        .main {

          .icon_box {

          }
          .email {
            font-size: 0.8rem;
          }
        }

        .rights {
          font-size: 0.8rem;
        }

        .developer {
          font-size: 0.8rem;
        }
    }
}
