.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 5vh;
  color: black;
  background-color: #ffbe98;

  >*{
    margin: 0.2rem 0;
  }

  .name {
  }

  .icon_box {
    > * {
      margin: 0.5rem;
    }
  }

  .rights {
    font-size: 0.8rem;
    font-family: "Mariupol-Regular";
  }

  .developer {
    font-family: "Mariupol-Regular";
  }
}

@media (max-width: 668px) {
    .footer {
        flex-direction: column;
    }
}
