.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: var(--size-footer);
  padding: 0.5rem 0;
  color: black;
  // background-color: #ffbe98; rgb(255, 190, 152)
  // background-color: rgb(255, 190, 152);
  background: linear-gradient(to top, #ffbe98, 97%, rgb(255, 255, 255));
  // background: linear-gradient(to bottom, transparent, 90%, rgba(255, 214, 163, 0.35));
  font-family: "Mariupol-Regular";

  >*{
    margin: 0.2rem 0;
  }

  .main {
    display: block;
    .icon_box {
      display: block;
      > * {
        margin: 0.5rem;
      }
    }
    .email {
      display: block;
      margin-top: 0.5rem;
    }
  }

  .rights {
    font-size: 0.8rem;
  }

  .developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;

    .developer_name {
    }
    .developer_email {
    }
  }
}

@media (max-width: 668px) {
    .footer {
        flex-direction: column;

        .main {

          .icon_box {

          }
          .email {
            font-size: 0.8rem;
          }
        }

        .rights {
          font-size: 0.8rem;
        }

        .developer {
          font-size: 0.8rem;
        }
    }
}
