.main_block {
  width: 100%;
  min-height: calc(var(--size-body) - var(--header-height));
  padding: 3% clamp(5px, 5vw, 100px);

  .zahodu_podii {
    font-size: 2.5rem;
    font-family: "Extatica-Medium", sans-serif;
    margin: 2rem 1rem;
    text-transform: uppercase;
    color: #8b4300;
  }

  .event_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 0 auto;

    .event {
      padding: 1rem;
      transition: transform 0.3s ease;

      .link {
        .image_box {
          position: relative;
          height: clamp(30vh, 20vw, 25vh);
          max-width: 450px;
          margin-bottom: 1rem;

          .image {
            width: auto;
            height: 100%;
            object-fit: cover;
            margin: 0 0 1rem 0;
          }
        }

        .event_data {
          font-family: "Extatica-Medium", sans-serif;
          font-size: 2.5vh;
          color: rgb(75, 75, 75);
        }

        .event_name {
          font-size: 2.5vh;
          font-family: "Extatica-Medium", sans-serif;
          margin-top: 1rem;
        }
      }
      &:hover {
        transform: scale(1.05);
        background-color: rgba(324, 160, 124, 0.3);
      }
    }
  }
}

@media (max-width: 668px) {
  .main_block {
    .zahodu_podii {
    }

    .event_list {

      .event {
        .link {
          .image_box {
            .image {
            }
          }

          .event_data {
          }

          .event_name {
          }
        }
        &:hover {
        }
      }
    }
  }
}
