.main_block {
  width: 100%;
  padding: 3% 15%;

  .zahodu_pidii {
    font-size: 2.5rem;
    font-family: "Extatica-Medium", sans-serif;
    margin: 2rem 1rem;
    text-transform: uppercase;
    color: #8b4300;
  }

  .event_list {
    // display: grid;
    // gap: 80px;
    // grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;

    .event {
      padding: 1rem;
      transition: transform 0.3s ease;

      .link {
        
        .image_box {
          position: relative;
          height: 200px;
          margin-bottom: 1rem;

          .image {
            width: auto;
            height: 100%;
            object-fit: cover;
            margin: 0 0 1rem 0;
          }
        }

        .event_data {

        }

        .event_name {
          font-size: 1.5rem;
          line-height: 1.5rem;
          font-family: "Extatica-Medium", sans-serif;
          margin-top: 1rem;
        }
      }
      &:hover {
        transform: scale(1.05);
        background-color: rgba(324, 160, 124, 0.3);
      }
    }
  }
}
